{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div align="center">
	<div align="center" style="width: 700px; height: 700px; ">
		<h1 align="center" >About</h1>
		<p style="align-content: left;">This student information chatbot was the combined effort of:</p>
		<table  align="center" width="500" style="padding: 1px;">
			<tr>
				<td>Mohammad Younus</td>
				<td style="text-align: right;">17102A0073</td>
			</tr>
			<tr>
				<td>Nitin Giri</td>
				<td style="text-align: right;">17102B0017</td>
			</tr>
			<tr>
				<td>Mehul Sankalp</td>
				<td style="text-align: right;">17102B0023</td>
			</tr>
		</table>

</div>
{% endblock %}