{% extends "base.html" %}

{% block title %}Help{% endblock %}

{% block content %}

<div align="center">
	<div align="left" style="width: 700px; height: 700px; align-content: left;">
		<h1 align="center">Help</h1>
		<p>This ia a student information chatbot associated with Vidyalankar Institiute of Technology.</p>
		<p>This Chatbot currently answers the students quries regarding exams, syllabus, college committees, college fees and placements</p>
		<p>It also responds to quries like admission and campus facilities</p>
		<br>
		<p>Below are few conversations to help understand the usage of bot:</p>
		<br>


		<p style="font-style: italic;">1. Greetings</p>
		<div align="center"><table id="view_help"><tr><th style="background-color: lightgray; "><form><br>
				<div class= "view_person_help" ><label >Hi</label></div><br>
				<div class= "view_bot_help" > <label >What can I do for you?</label></div><br>
		</form></th></tr></table></div><br>

		<p style="font-style: italic;">2. Exams</p>
		<div align="center"><table id="view_help"><tr><th style="background-color: lightgray; "><form><br>
				<div class= "view_person_help" ><label >exam dates</label></div><br><br>
				<div class= "view_bot_help" > <label >year</label></div><br>

				<div class= "view_person_help" ><label >F.E</label></div><br><br>
				<div class= "view_bot_help" > <label >F.E exam schedule - https://vit.edu.in/images/downloads/exam/
				TT_R2019%20SEM1.pdf</label></div><br><br>
		</form></th></tr></table></div><br>


		<p style="font-style: italic;">3. Syllabus</p>
		<div align="center"><table id="view_help"><tr><th style="background-color: lightgray; "><form><br>
				<div class= "view_person_help" ><label >syllabus</label></div><br><br>
				<div class= "view_bot_help" > <label >Which Stream? 1.IT, 2.CMPN, 3.EXTC, 4.ETRX, 5.BioMEd</label></div><br><br>

				<div class= "view_person_help" ><label >2</label></div><br><br>
				<div class= "view_bot_help" > <label >Syllabus for which Semester?</label></div><br><br>

				<div class= "view_person_help" ><label >8</label></div><br><br><br>
				<div class= "view_bot_help" > <label >
								Subjects For Semester 8:<br><br>

								1. Human Machine Interaction<br>
								2. Distributed Computing<br><br>

								Department Level Electives<br>
								1. High Performance Computing<br>
								2. Natural Language Processing<br>
								3. Adhoc Wireless Network<br><br>

								Institute Level Electives<br>
								1. Project Management<br>
								2. Finance Management<br>
								3. Entrepreneurship Development and Management<br>
								4. Human Resource Management<br>
								5. Professional Ethics and CSR
								6. Research Methodology<br>
								7. IPR and Patenting<br>
								8. Digital Business Management<br>
								9. Environmental Management<br>
				</label></div><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		</form></th></tr></table></div><br>


		<p style="font-style: italic;">4. College Committees</p>
		<div align="center"><table id="view_help"><tr><th style="background-color: lightgray; "><form><br>
				<div class= "view_person_help" ><label >college committees</label></div><br><br><br>
				<div class= "view_bot_help" > <label >Vidyalankar Institute of Technology has a lot of Student Chapters. Computer Branch committees include Computer Society of India (csi-vit), CESA. Electronics Branch committees include IEEE and there are several other college committees including Student Council and ACM.</label></div><br><br><br><br><br><br><br>

				<div class= "view_person_help" ><label >csi</label></div><br><br><br>
				<div class= "view_bot_help" > <label >CSI-VIT is the Vidyalankar Institute of Technology Chapter of Computer Society of India Mumbai. For more information visit https://csi-vit.github.io/</label></div><br><br><br><br><br>
		</form></th></tr></table></div><br>




		<p style="font-style: italic;">5. College Fees</p>
		<div align="center"><table id="view_help"><tr><th style="background-color: lightgray; "><form><br>
				<div class= "view_person_help" ><label >college fees</label></div><br><br><br>
				<div class= "view_bot_help" > <label >What is your Course? - 1. BE/B.Tech, 2. ME/M.Tech, 3. MMS</label></div><br><br><br>

				<div class= "view_person_help" ><label >1</label></div><br><br><br>
				<div class= "view_bot_help" > <label >What is your admission category? 1.Open, 2.OBC, 3.SC/NT</label></div><br><br><br>

				<div class= "view_person_help" ><label >1</label></div><br><br><br>
				<div class= "view_bot_help" > <label >Fees for BE/B.Tech Open Category is INR 1,38,746</label></div><br><br><br><br>

		</form></th></tr></table></div><br>


		<p style="font-style: italic;">6. Placements</p>
		<div align="center"><table id="view_help"><tr><th style="background-color: lightgray; "><form><br>
				<div class= "view_person_help" ><label >placements</label></div><br><br><br>
				<div class= "view_bot_help" > <label >1.General, 2.Statistics, 3.Top Recruiters, 4.Insights ?</label></div><br><br>

				<div class= "view_person_help" ><label >1</label></div><br><br><br>
				<div class= "view_bot_help" > <label >Vidyalankar Institute of Technology provides the best campus recruitment and has a well-trained program formulated for the students to prepare them for jobs at reputed organizations. The institute only aims to provide the market with the best of talent that would fit and fulfill the corporate world's needs. They have additional Training and Placement Cells exclusively for students that are run by experienced faculty.</label></div><br><br><br><br><br><br>

		</form></th></tr></table></div><br>


		<p style="font-style: italic;">7. Admissions</p>
		<div align="center"><table id="view_help"><tr><th style="background-color: lightgray; "><form><br>
				<div class= "view_person_help" ><label >admissions</label></div><br><br><br>
				<div class= "view_bot_help" > <label >
					Admission Process 2021<br>
					Vidyalankar Institute of Technology, Mumbai Admission Process:<br><br>

					Vidyalankar Institute of Technology offers admission to undergraduate and postgraduate courses. Admission to the undergraduate course will be done through the MHT-CET examination while for postgraduate courses, candidates have to appear for GATE/CET examinations.<br><br>

					For Undergraduate Courses (B.Tech):<br><br>

					Candidates should appear and obtain a non zero score in MHT-CET Exam.<br><br>
					For Postgraduate Courses (M.Tech/MMS):<br><br>

					For M.Tech, candidates should obtain a positive non zero score in the Graduate Aptitude Test in Engineering (GATE).<br>
					For Master of Management Studies (MMS), candidates should obtain non zero scores in the Common Entrance Test (CET).<br><br>

					The candidates have to fill an application form for admission to the VIT for any Course desired.<br>
					Final admission will be done on the basis of performance in the above mentioned exams, fee payment and seat allotment process.
					</label></div><br>

		</form></th></tr></table></div><br>


		<p style="font-style: italic;">8. Campus Facilities</p>
		<div align="center"><table id="view_help"><tr><th style="background-color: lightgray; "><form><br>
				<div class= "view_person_help" ><label >Vidyalankar Campus Facilities</label></div><br><br><br>
				<div class= "view_bot_help" > <label >VIT, Mumbai provides various infrastructure and facilities for the students and staff such as cafeteria to serve food and beverages, library with a collection of books, gymnasium for the physical fitness of the students, the auditorium can be used for meetings, seminars, indoor and outdoor sports facilities, medical facility, computing facility and many other facilities for daily needs like a fire station, wi-fi, etc.</label></div><br><br><br><br><br><br><br><br><br><br>

				<div class= "view_person_help" ><label >vit library</label></div><br><br><br>
				<div class= "view_bot_help" > <label >VIT has developed a central library which is a veritable treasure trove of knowledge, with more than 450 sq. m built up space and is stocked with text and reference books by reputed authors and well-known publishers. The Institute library has an organized collection of technical and management books (20000+ books), journals and e-journals.</label></div><br><br><br><br><br><br><br><br>

				<div class= "view_person_help" ><label >vit sports</label></div><br><br><br>
				<div class= "view_bot_help" > <label >The Institute has two multipurpose grounds that are used by students for outdoor sports and recreational activities and a Gymnasium for indoor sports. The grounds are suitable for popular sports such as football and cricket. There is also a multi-sports court which can be used for volleyball, basketball, etc. and a separate area is developed for badminton. Sports like Kabbadi, Kho-Kho, and athletics are organized in lush green grounds.</label></div><br><br><br><br><br><br><br>

		</form></th></tr></table></div><br>

		<br>
		<div align="center"><p>Please Login to have a conversation and Learn More!</p></div>
		



		<br><br><br><br>
	</div>
</div>	

{% endblock %}